/* Add CSS Styling */

.odd {
    background-color: salmon;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
    font-size: 36px;
    color: blue;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}